### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Windows ###
Thumbs.db

### Logs ###
*.log

### Databases & Secrets ###
# Ignoriert lokale Datenbank-Dateien
*.db
*.sqlite

# Ignoriert die Konfigurationsdatei mit den echten Anmeldedaten
database.properties
databaseKAB.properties
*.env

### Executables ###
*.exe

### Java ###
*.class

### Backup files ###
*.bak